<main>
    <form class="product-form" action="/enter-password" method="POST">
        <div class="form-control">
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
        </div>
        <button class="btn" type="submit">Log In</button>
    </form>
</main>